*{
    margin: 0%;
}

/* what the fadein animation does*/
@keyframes fadein {
    to {opacity: 1;}
  }

/* root.html*/ 
.root_body{
    background: white;
    background-image:  url("/static/images/mountains.jpg");
    background-size: cover;
}

.root_main_heading{
    font-size: 4rem;
    padding-top: 5%;
    text-align: center;
    animation: fadein ease-in forwards;
    animation-duration: 1.5s;
}

.root_subheading{
    text-align: center;
    font-size: 2.5rem;
    animation: fadein ease-in forwards;
    animation-duration: 1.5s;
}

.root_navbar{
    background-color: none;
    display: flex;
    align-items: center; /* align the items in the center vertically */
    padding-left: 10%;
    height: 80px;
    box-shadow: 0px 0px 5px 5px rgb(220, 188, 250);
}

.root_content{
    display: flex;
    background-color:rgb(30, 0, 46);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.root_content p {
    color: white;
    font-size: 2rem;
}


/* user_layout.html */
.layout_body{
    background: white;
    background-image:  url("/static/images/mountains.jpg");
    background-size: cover;
}

.main_heading{
    font-size: 4rem;
    padding-top: 5%;
    text-align: center;
}

.subheading{
    text-align: center;
    font-size: 2.5rem;
}

.navbar{
    background-color: none;
    display: flex;
    align-items: center; /* align the items in the center vertically */
    padding-left: 10%;
    height: 80px;
    box-shadow: 0px 0px 5px 5px rgb(220, 188, 250);
}

.left_link{
    color: black;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 25px;
}

.left_link:hover, .right_link:hover{
    background-color: rgb(220, 188, 250);
    color: #353535;
    height: 83px;
    display: flex;
    align-items: center; /* align the items in the center vertically */
    transform: translateY(-2px); /* make the link pop up when hovered over */
}

.right_link{ 
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 25px;
    justify-content: right;
    color: black;
}

.spacer{
    width: 30%;
}

h1 {
    color: black;
}

.content{
    display: flex;
    width: 85%; 
    margin: auto; /* Centers horizontally */
    padding: 0 calc(7.5% - 20px); /* Balanced padding on both sides 0 for top/bottom */
    backdrop-filter: blur(10px); /* Frosted glass effect for the container */
    box-shadow: 0px 0px 5px 5px rgb(220, 188, 250);
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Includes the padding in width calculation */
    flex-direction: column;
    transform: translateY(5px)
}






/* create_account.html */
.submit_button{
    background-color: gold;
    outline: none;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0px 2px 2px 0px;
    font-size: 15px;
    width:80%;
    height: 3rem;
}

.submit_button:hover{
    background-color:rgb(189, 161, 2);
    transform: translateY(-1px);
}

.login_container{
    border: 2px solid black;
    display: grid;
    align-items: center;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px grey;
    width: 30%;
    backdrop-filter: blur(10px); /* Frosted glass effect for the container */
}

.login_body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-image: url("/static/images/mountains.jpg");     /* Background img */
    background-size: cover;     /* Sets the size of the background to cover the page */
}

.login_container h1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 6px;
}

.login_container hr{
    height: 3px;
    background-color: black;
    padding:0%;
}

.login_container form{
    text-align: center;
    padding: 10% 10% 10% 10%;
    font-size: 1.5rem;
}

.login_container p{
    font-size: 1.2rem;
}


.text_box{
    height: 3rem;
    width:75%;
    border-radius: 30px;
    font-size:  1.3rem;
    padding-left: 5%;
    
}

::placeholder{
    font-size: 1.3rem;
}

.error_message_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 15px 0px;
    background-color: rgb(253, 195, 195);
    border-radius: 10px;
    width: 75%;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    transform: translateX(5rem);
}

.error_message{
    text-align: center;
}

/* planner.html */

.folio{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.panel_1, .panel_2, .panel_3{
    height:712.8px;
    width: 504px;
    outline-style: solid;
    outline-width: 2px;
    background-color: white;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    text-align: center;
}


/* series */
/* a4 portrait height */
.panel_1_series_1, .panel_1_series_3, .panel_3_series_1, .panel_3_series_3{
    outline-style: solid;
    outline-width: 2px;
    height: 251.7px;
    display: flex;
    gap: 0.5rem;
}

/* a4 landscape height */
.panel_1_series_2, .panel_2_series_1, .panel_2_series_2, .panel_3_series_2{
    outline-style: solid;
    outline-width: 2px;
    height: 177.9px;
    display: flex;
    gap: 0.5rem;
}

/* a3 portrait height */
.panel_2_series_3{
    outline-style: solid;
    outline-width: 2px;
    height: 325px;
    display: flex;
    gap: 0.5rem;
}


/* paintings */
.a4_portrait{
    outline-style: solid;
    outline-width: 2px;
    width: 178px;
}

.a4_landscape{
    outline-style: solid;
    outline-width: 2px;
    width: 251.7px;
}

.a5_portrait{
    outline-style: solid;
    outline-width: 2px;
    width: 125.85px;
}

.a3_landscape{
    outline-style: solid;
    outline-width: 2px;
    width: 356px;
}

.a3_portrait{
    outline-style: solid;
    outline-width: 2px;
    width: 251.7px;
}

.a3_square{
    outline-style: solid;
    outline-width: 2px;
    width: 251.7px;
}

.a3_wide{
    outline-style: solid;
    outline-width: 2px;
    width: 504px;
}
    