*{
    margin: 0%;
}

.main_heading{
    font-size: 4rem;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.navbar{
    background-color: #7371FC;
    display: flex;
    align-items: center; /* align the items in the center vertically */
    padding-left: 10%;
    height: 80px;
    box-shadow: 0px 0px 5px 5px grey;
}

.left_link{
    color: black;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 25px;
}

.left_link:hover, .right_link:hover{
    background-color: #9897fc;
    color: #353535;
    height: 80px;
    display: flex;
    align-items: center; /* align the items in the center vertically */
    transform: translateY(-2px); /* make the link pop up when hovered over */
}

.right_link{ 
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 25px;
    justify-content: right;
    color: black;
}

.spacer{
    width: 30%;
}

h1 {
    color: black;
}




/* create_account.html */
.submit_button{
    background-color: limegreen;
    outline: none;
    width: 200px;
    height: 40px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 2px 2px 0px;
    font-size: 15px;
}

.submit_button:hover{
    background-color:green;
    color: white;
}