{% if user_logged_in %}
    {% extends "user_layout.html"%}
{% else %}
    {% extends "layout.html" %}
{% endif %}
{%block content%}
<h1 class = "page_not_found">Error: Page not found</h1>

{% if user_logged_in %}
<a href="http://127.0.0.1:5000/dashboard/{{user_id}}" class = "home_link">
    <div class = "home_button">
        <h2>Back to dashboard</h2>
    </div>
</a>
{% else %}
<a href="http://127.0.0.1:5000" class = "home_link">
    <div class = "home_button">
        <h2>Go back home</h2>
    </div>
</a>
{% endif %}
{%endblock%}