<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%extends "user_layout.html"%}
{%block content%}

{% if form.theme.errors %}
    {% for error in form.theme.errors %}
        <div class = "error_message_container">
            <p class = "error_message">{{ error }}</p>
        </div>
    {% endfor %}
{% endif %}
<form method = "POST" action="/create_new">
    {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->

    {{ form.theme(id = "theme", class_="text_box", placeholder="What is the theme?")}} 
    {{ form.submit(id = "submit", class_="submit_button")}} 
</form>
{%endblock%}