<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/static/style.css">
</head>
<body class = "login_body">

    <div class = "login_container">
        <h1>Create Account</h1>
        <hr>
        <br><br>
    <!-- form error messages -->
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <div class = "error_message_container">
                    <p class = "error_message">{{ error }}</p>
                </div>
            {% endfor %}
        {% endif %}


        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <div class = "error_message_container">
                    <p class = "error_message">{{ error }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
                <div class = "error_message_container">
                    <p class = "error_message">{{ error }}</p>
                </div>
            {% endfor %}
        {% endif %}

     <!-- flash error messages -->
        {% for message in get_flashed_messages() %}
            <div class = "error_message_container">
                <p class = "error_message">{{ message }}</p>
            </div>
        {% endfor %}
        <form method = 'POST'>
            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
            {{ form.username(id = "username", class_="text_box", placeholder="Enter a username")}} 
            <br><br>
            {{ form.password(id = "password", class_="text_box", placeholder="Enter a password")}} 
            <br><br>
            {{ form.confirm_password(id = "confirm_password", class_="text_box", placeholder="Comfirm your password")}} 
            <br><br><br>
            {{ form.submit(id = "submit", class_="submit_button")}} 
            <br><br>
            <p>Already have an account? <a href="http://127.0.0.1:5000/login">Login Here<a></p>
        </form>
    </div>

</body>
</html>