<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%extends "user_layout.html"%}
{%block content%}
<div>
    <h1>Welcome back {{user_info.name}}!</h1>
</div>
<!-- flash messages -->
{% for catergory, message in get_flashed_messages(with_categories=true) %}
    <div class = "flash_{{ catergory }}">
        <p class = "message_{{ catergory }}">{{ message }}</p>
    </div>
{% endfor %}
{%endblock%}