<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%extends "user_layout.html"%}
{%block content%}
<h1 class = "title">Edit Folio - {{ folio.theme }}</h1>
{% for message in get_flashed_messages() %}
    <div class = "error_message_container">
        <p class = "error_message">{{ message }}</p>
    </div>
{% endfor %}
<div class = folio>
    <div class ="panel_1">
        <div class = "panel_1_series_1">
            <div class = "a4_portrait">
                {% for painting in paintings if painting.position == 1 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "1">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>

            <div class = "a4_portrait">
                {% for painting in paintings if painting.position == 2 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 2 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "2">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            
            <div class = "a4_portrait">
                {% for painting in paintings if painting.position == 3 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 3 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "3">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class = "panel_1_series_2">
            <div class = "a4_landscape">
                {% for painting in paintings if painting.position == 4 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 4 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "4">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>

            <div class = "a4_landscape">
                {% for painting in paintings if painting.position == 5 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 5 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "5">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class = "panel_1_series_3">
            <div class = "a4_portrait">
                {% for painting in paintings if painting.position == 6 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 6 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "6">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>

            <div class = "a3_landscape">
                {% for painting in paintings if painting.position == 7 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 7 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "7">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class ="panel_2">
        <div class = "panel_2_series_1">
            <div class = "a4_landscape">
                {% for painting in paintings if painting.position == 8 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 8 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "8">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a4_landscape">
                {% for painting in paintings if painting.position == 9 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 9 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "9">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class = "panel_2_series_2">
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 10 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 10 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "10">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a4_landscape">
                {% for painting in paintings if painting.position == 11 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 11 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "11">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 12 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 12 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "12">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class = "panel_2_series_3">
            <div class = "a3_portrait">
                {% for painting in paintings if painting.position == 13 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 13 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "13">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a3_portrait">
                {% for painting in paintings if painting.position == 14 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 14 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "14">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class ="panel_3">
        <div class = "panel_3_series_1">
            <div class = "a3_square">
                {% for painting in paintings if painting.position == 15 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 15 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "15">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a3_square">
                {% for painting in paintings if painting.position == 16 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 16 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "16">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class = "panel_3_series_2">
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 17 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 17 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "17">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 18 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 18 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "18">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 19 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 19 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "19">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 20 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 20 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "20">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class = "panel_3_series_3">
            <div class = "a3_wide">
                {% for painting in paintings if painting.position == 21 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 21 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST' enctype="multipart/form-data">
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            <!-- hidden input that gets the position of the painting -->
                            <input type="hidden" name = "position" value = "21">
                            <!-- hidden input that gets the id of painting for iamge upload -->
                            <input type="hidden" name = "painting_id" value = "{{painting.id}}">
                            <div class = "upload">
                                {{ form.painting_image(id = "painting_image", class_="file_input")}} 
                            </div>
                            {{ form.submit() }}
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}


