<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%extends "user_layout.html"%}
{%block content%}
<h1 class = "title">Edit Folio - {{ folio.theme }}</h1>

<div class = folio>

    <div class ="panel_1">
        <div class = "panel_1_series_1">
            <div class = "a4_portrait">
                {% for painting in paintings if painting.position == 1 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>

            <div class = "a4_portrait">
                {% for painting in paintings if painting.position == 2 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            
            <div class = "a4_portrait">
                {% for painting in paintings if painting.position == 3 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class = "panel_1_series_2">
            <div class = "a4_landscape">
                {% for painting in paintings if painting.position == 4 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>

            <div class = "a4_landscape">
                {% for painting in paintings if painting.position == 5 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class = "panel_1_series_3">
            <div class = "a4_portrait">
                {% for painting in paintings if painting.position == 6 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>

            <div class = "a3_landscape">
                {% for painting in paintings if painting.position == 7 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class ="panel_2">
        <div class = "panel_2_series_1">
            <div class = "a4_landscape">
                {% for painting in paintings if painting.position == 8 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a4_landscape">
                {% for painting in paintings if painting.position == 9 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class = "panel_2_series_2">
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 10 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                    <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a4_landscape">
                {% for painting in paintings if painting.position == 11 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 12 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class = "panel_2_series_3">
            <div class = "a3_portrait">
                {% for painting in paintings if painting.position == 13 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a3_portrait">
                {% for painting in paintings if painting.position == 14 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class ="panel_3">
        <div class = "panel_3_series_1">
            <div class = "a3_square">
                {% for painting in paintings if painting.position == 15 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a3_square">
                {% for painting in paintings if painting.position == 16 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class = "panel_3_series_2">
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 17 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 18 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 19 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "a5_portrait">
                {% for painting in paintings if painting.position == 20 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class = "panel_3_series_3">
            <div class = "a3_wide">
                {% for painting in paintings if painting.position == 21 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image" class = "folio_image">
                    {% else %}
                        <form method = 'POST'>
                            {{ form.hidden_tag() }} <!-- This projects against CSRF attacks-->
                            {{ form.painting_image(id = "painting_image", class_="painting_image")}} 
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}

/static/images/portrait.jpg
/static/images/napolean.jpg
/static/images/sistine_chapel.jpg

