<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%extends "user_layout.html"%}
{%block content%}
<h1 class = "title">Edit Folio - {{ folio.theme }}</h1>

<div class = folio>

    <div class ="panel_1">
        <div class = "panel_1_series_1">
            <div class = "a4_portrait">
                {% for painting in paintings if painting.position == 1 %}
                    {% if painting.image %}
                    <img src="{{painting.image}}" alt="painting 1 image">
                    {% else %}
                    <p>Upload an image</p>
                    {% endif %}
                {% endfor %}
            </div>

            <div class = "a4_portrait">
                <img src="/static/images/portrait.jpg" alt="portrait">
            </div>
            
            <div class = "a4_portrait"></div>
        </div>

        <div class = "panel_1_series_2">
            <div class = "a4_landscape"></div>
            <div class = "a4_landscape"></div>
        </div>

        <div class = "panel_1_series_3">
            <div class = "a4_portrait"></div>
            <div class = "a3_landscape"></div>
        </div>
    </div>

    <div class ="panel_2">
        <div class = "panel_2_series_1">
            <div class = "a4_landscape"></div>
            <div class = "a4_landscape"></div>
        </div>

        <div class = "panel_2_series_2">
            <div class = "a5_portrait"></div>
            <div class = "a4_landscape"></div>
            <div class = "a5_portrait"></div>
        </div>

        <div class = "panel_2_series_3">
            <div class = "a3_portrait"></div>
            <div class = "a3_portrait"></div>
        </div>
    </div>

    <div class ="panel_3">
        <div class = "panel_3_series_1">
            <div class = "a3_square"></div>
            <div class = "a3_square"></div>
        </div>
        <div class = "panel_3_series_2">
            <div class = "a5_portrait"></div>
            <div class = "a5_portrait"></div>
            <div class = "a5_portrait"></div>
            <div class = "a5_portrait"></div>
        </div>
        <div class = "panel_3_series_3">
            <div class = "a3_wide"></div>
        </div>
    </div>
</div>
{%endblock%}