<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/static/style.css">
</head>
<body class = "login_body">
  
    <div class = "login_container">
        <h1>Login</h1>
        <hr>
        <form action = "/submit_login" method = 'POST'>
            <br>
            <input type="text" id = "username" name = "username"
                minlength="3" maxlength="30"
                placeholder="Username"
                class = "text_box">
            <br><br>
            <input type="password" id = "password" name = "password"
                minlength="3" maxlength="30"
                placeholder="Password"
                class = "text_box">
            <br><br><br>
            <input type="submit" value = "Login" class = "submit_button">
            <br><br>
            <p>Don't have an account? <a href="http://127.0.0.1:5000/create_account">Create Account Here<a></p>
        </form>
    </div>

    
</body>
</html>