{%extends "user_layout.html"%}
{%block content%}

<h1>My folios</h1>
<!-- folios display area -->
<div class = "folios_area">
    {% if folio %}
        <div class="folio_grid">
            	{% for folio in folio%}
                <div class = "folio_card">
                    <h3> <a href="http://127.0.0.1:5000/edit_folio/{{user_id}}/{{folio.id}}">{{ folio.theme }}</a></h3>
                </div>
                {% endfor %}
        </div>
    {% else %}
    <div class="empty_message">
        <p>You don't have any folios yet</p>
        <a href="{{ url_for('create_new')}}">Click here to create one</a>
    </div>
    {% endif %}
</div>

{%endblock%}