<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%extends "user_layout.html"%}
{%block content%}
<h1 class = "title">Folio Planner</h1>
<div class = folio>

    <div class ="panel_1">
        <div class = "panel_1_series_1">
            <div class = "a4_portrait"></div>
            <div class = "a4_portrait"></div>
            <div class = "a4_portrait"></div>
        </div>

        <div class = "panel_1_series_2">
            <div class = "a4_landscape"></div>
            <div class = "a4_landscape"></div>
        </div>

        <div class = "panel_1_series_3">
            <div class = "a4_portrait"></div>
            <div class = "a3_landscape"></div>
        </div>
    </div>

    <div class ="panel_2">

    </div>

    <div class ="panel_3">

    </div>

</div>
{%endblock%}