{%extends "user_layout.html"%}
{%block content%}
<div class =  "page_heading">
    <h1>Colour Pallete for {{folio.theme}}</h1>
</div>

<!-- flash messages -->
{% for catergory, message in get_flashed_messages(with_categories=true) %}
    <div class = "flash_{{ catergory }}">
        <p class = "message_{{ catergory }}">{{ message }}</p>
    </div>
    <br>
{% endfor %}
<h2>Please select colours for this folio (2-4 colours)</h2>
<div class = "colour_form">
    <form action="{{ url_for('select_colour', user_id = user.id, folio_id = folio.id ) }}" method = "POST" name = "select_colour">
        <!-- {% for colour in colours %}
            <div class =  "colour_select_container">
                <input type = "checkbox" name="select_colour" id="{{colour.name}}" value="{{colour.id}}" class = "checkbox">
                <div style="background-color: {{colour.hex_code}};" class="colour_preview"></div>
                <label for="{{colour.name}}">{{colour.name}}</label>
            </div>
        {% endfor %} -->

    <div class = "colour_container">
        {% for colour in colours %}
            <div class = "colour_background" style = "background-color: {{colour.hex_code}};">
                <p> 
                    <span> 
                        <input type = "checkbox" name="select_colour" id="{{colour.name}}" value="{{colour.id}}" class = "checkbox">
                    </span>
                    {{colour.name}}
                </p>
            </div>
        {% endfor %}
    </div>
        <input type="submit" value = "Submit" class = "submit_colour">
    </form>
</div>
{%endblock%}