{%extends "user_layout.html"%}
{%block content%}
<button class = "back_button"><a class = "link" href="http://127.0.0.1:5000/edit_folio/{{ folio.id }}">⮐ Back</a></button>
<div class =  "page_heading">
    <h1>Colour Pallete for {{folio.theme}}</h1>
</div>

<!-- flash messages -->
{% for catergory, message in get_flashed_messages(with_categories=true) %}
    <div class = "flash_{{ catergory }}">
        <p class = "message_{{ catergory }}">{{ message }}</p>
    </div>
    <br>
{% endfor %}
<h2>Please select colours for this folio (2-4 colours)</h2>
<div class = "colour_form">
    <form action="{{ url_for('select_colour', folio_id = folio.id ) }}" method = "POST" name = "select_colour">
    <input type="submit" value = "Submit" class = "submit_colour">
    <br><br>
    <div class = "select_colour_container">
        {% for colour in colours %}
            <div class = "select_colour_background" style = "background-color: {{colour.hex_code}};">
                <div class = "colour_name_container">
                        <input type = "checkbox" name="select_colour" id="{{colour.name}}" value="{{colour.id}}" class = "checkbox">
                        <p class = "colour_name">{{colour.name}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    </form>
</div>
{%endblock%}