<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel = "stylesheet" href = "/static/style.css">
</head>
<body>
    <!-- navbar -->
		<nav>
			<div class = "navbar">
				<a href = "http://127.0.0.1:5000/">Homepage</a>
				<a href = "http://127.0.0.1:5000/">Dash Board</a>
				<a href = "http://127.0.0.1:5000/">Create New</a>
				<a href = "http://127.0.0.1:5000/">Settings</a>
				<a href="http://127.0.0.1:5000/">Help</a>
				<a href="http://127.0.0.1:5000/colour">Colour</a>
				<a href="http://127.0.0.1:5000/create_account">Create account</a>
			</div> <!-- navbar -->
			<!-- pages in navbar -->
		</nav>

		<main class = "content">
			{%block content%}{%endblock%}
		</main> <!-- content goes here -->
</body>
</html>