<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel = "stylesheet" href = "/static/style.css">
</head>
<body class = "layout_body">
    <!-- navbar -->
		<nav>
			<div class = "navbar">
				<a class = "left_link" href = "{{ url_for('dashboard') }}">Dash Board</a>
				<a class = "left_link" href = "{{ url_for('my_folios') }}">My Folios</a>
				<a class = "left_link" href = "{{ url_for('create_new') }}">Create New</a>
				<a class = "left_link" href= "{{ url_for('help') }}">Help</a>
				<a class = "left_link" href= "{{ url_for('colour') }}">Colour</a>
				<div class = spacer></div>
				<a class = "right_link" href="{{ url_for('dashboard') }}"><img src="/static/images/profile.png" alt="Herrr"></a>
				<a class = "right_link" href="{{ url_for('logout') }}">Log Out</a>
			</div> <!-- navbar -->
			<!-- pages in navbar -->
		</nav>
		<main class = "content">
			<br>
			{%block content%}{%endblock%}
		</main> <!-- content goes here -->
</body>
</html>