<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel = "stylesheet" href = "/static/style.css">
</head>
<body class = "layout_body">
    <!-- navbar -->
		<nav>
			<div class = "navbar">
				<a class = "left_link" href = "{{ url_for('dashboard', user_id=user_id) }}">Dash Board</a>
				<a class = "left_link" href = "{{ url_for('my_folios', user_id=user_id) }}">My Folios</a>
				<a class = "left_link" href = "http://127.0.0.1:5000/create_new">Create New</a>
				<a class = "left_link" href = "http://127.0.0.1:5000/">Settings</a>
				<a class = "left_link" href= "http://127.0.0.1:5000/">Help</a>
				<a class = "left_link" href= "http://127.0.0.1:5000/colour">Colour</a>
				<div class = spacer></div>
				<a class = "right_link" href="http://127.0.0.1:5000"><img src="/static/images/profile.png" alt="Herrr"></a>
				<a class = "right_link" href="http://127.0.0.1:5000">Log Out</a>
			</div> <!-- navbar -->
			<!-- pages in navbar -->
		</nav>
		<main class = "content">
			<h1>{{ user_id }}</h1>
			<h1>under user id</h1>
			{%block content%}{%endblock%}
		</main> <!-- content goes here -->
</body>
</html>